h3 {
  text-align: center;
  font-family: "PT Serif", serif;
  background-color: #bce6eb;
  margin-top: 50px;
}

h1{
  font-size: 4rem;
  font-family: 'Sacramento', cursive;
  line-height: 0;
  position: relative;
  margin-top: 70px;
  bottom: 60px;
  margin-top: 200px;
}
h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  color: #734046;
}
 <img src="./2.png" alt="" class="img">
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 500px;
}
body {
  background-color: #f6f5f1;
  text-align:center;
  height:800px;
}
.img {
  float: right;
  width: 50%;
  height: 400px;
  margin-top: 150px;
}
.new {
  background-color: #f3eac2;
  width: ;
}
.blogs {
  background-image: url("./book.jpg");
 /* height: 100%;*/
  background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-attachment: fixed;
    height:1550px;
}
.p{
  text-align: left;
  font-size: 1.5rem;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  font-size: 3rem;
  margin-top:00px;
}
.c{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
  font-size: 2rem;
}
hr{
  border-style: none ;
  border-top-style: dashed;
  height: 0px;
  border-color:  lightgrey;
  border-width:2px;
    width: 5%;
    margin: 50px auto;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 0px;
   line-height: 2px;
   color: #FFFFFF;
   font-family: serif;
   font-size: 27px;
   font-weight:0;
   padding: 20px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: double #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
.p2{
   width:20%;
   margin-left: 20%;
   text-align: left;
   position:relative;
   bottom: 300px;
   left: 400px;
   font-size: 1.2rem;
}
.y{
  float:right;
  border-width:50%;
  margin-left: 10px;
  text-align: center;
  margin-right: 30%;
  margin-top:30px;
  position:relative;
  bottom: 330px;
  left:300px;
  margin-right: 150px;
  left: 0px;
  right: 400px;
}
.p1{
  position:relative;
  bottom: 300px;
  left:600px;
  font-size: 3rem;
}
.oo{
  position:relative;
  bottom:300px;
  left:500px;
}
.q{
  position:relative;
  bottom:200px;
  left:350px;
  font-size: 3rem;
}
.q2{
  width:20%;
  position:relative;
  bottom:200px;
  right:200px;
}
.q3{
  width:20%;
  text-align: left;
  position:relative;
  bottom:400px;
  left:800px;
  font-size: 1.2rem;
}
.q4{
  position:relative;
  bottom:380px;
  left:200px;
}
.w1{
  position:relative;
  bottom: 300px;
  left:750px;
  font-size: 3rem;
}
.w2{
  position:relative;
  bottom:530px;
  left:500px;
}
.w3{
  width:20%;
  position:relative;
  left:1100px;
  text-align: left;
  bottom:550px;
  font-size: 1.2rem;
}
.w4{
  height:250px;
  width:200px;
  position:relative;
  bottom:300px;
  left:200px;
}
h2{
  width:800px;
}
.z{
  margin-left:400px;
  margin-top: 100px;
}
.para{
  font-size: 1.5rem;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn2 {
   background-color: white;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height:20px;
   line-height: 5px;
   color: #FFFFFF;
   font-family: serif;
   font-size: 27px;
   font-weight:0;
   padding: 20px;
   text-shadow: 0px 0px 0px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   width
}
img{
   margin-top:80px;
}
.nav{
  height:55px;
}
.navbar{
  position:scroll;
  left:0px;
  right:0px;
  padding: 15px;
  height:85px;

}
.w{
  position:absolute;
  right:25px;
  top: 32px;
  margin-top:0px;
}
.z{
  border:10px;
  border-width: 90%;
  margin-left:0px;
  margin-top:0px;
}
.dropdown-item{
  font-family:'Merriweather', serif;
  color: white;
}
.navbar-nav{
         margin-left:0;
}
.dropdown-menu{
    background-color: #212529;
}
.bg-dark{
  background-color: #212529!important
}
.b{
  margin-left:400px;
  margin-top:100px;
}